gitlab/data/prometheus/data/**
gitlab/logs/sidekiq/**
gitlab/logs/sidekiq/@4000000067628ac13a1c3e5c.u
gitlab/logs/sidekiq/@400000006768b2c936f6ea4c.u
gitlab/logs/sidekiq/@40000000676ca5ba05e7f874.u
gitlab/logs/sidekiq/@40000000676a0a9703339674.u
gitlab/logs/sidekiq/@400000006764bf4b079571c4.u
gitlab/data/prometheus/data/01JFRY5WER8RYBJDE8JZWN8EJF/chunks/000001
gitlab/data/prometheus/data/01JFVGJNKT2877S1FJJR5Q94QS/chunks/000001
gitlab/data/prometheus/data/01JFH6ZS6NRPZKQGP19RMZF6EF/chunks/000001
gitlab/data/prometheus/data/wal/00000031
gitlab/data/prometheus/data/wal/00000029
gitlab/data/prometheus/data/01JFE52M30E0V9ZCFAV2J5QJP7/chunks/000001
gitlab/data/prometheus/data/01JG06FKKBSD31VNKASNAD5XH0/chunks/000001
gitlab/data/prometheus/data/01JFEMK0KXZPCRFRDMXE31AKD3/chunks/000001
cicd-demo/04_harbor/harbor-offline-installer-v2.10.0.tgz
cicd-demo/04_harbor/harbor/harbor.v2.10.0.tar.gz
.git/objects/pack/pack-2e963aa326d1fcd5c2ddde6c29d906f17ce7a7f6.pack

